<html>

<head>
    <title>LifeBridge</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <script src="/static/scripts.js"></script>
</head>

<body>
    <div id="connection-status" class="status-dot" title="Connecting..."></div>
    <div id="header-container">
        <img src="/static/banner.png" alt="LifeBridge Banner" id="main-banner">
    </div>

    <div id="dashboard-container">
        <div id="status-panel">
            <h2>Status Panel</h2>
            <div id="status-content">Initializing...</div>
        </div>

        <div id="activity-graph-container" style="position: relative;">
            <h2>Real-Time Activity</h2>
            <div class="chart-container">
                <canvas id="activityChart"></canvas>
            </div>

            <div id="chart-overlay" class="hidden">
                <div class="overlay-msg">⚠️ MONITORING PAUSED</div>
                <div class="overlay-sub">Awaiting User Confirmation</div>
            </div>
        </div>

        <div id="alerts">
            <h2>Alerts</h2>
            <div id="alerts-content">No alerts.</div>
        </div>
    </div>
</body>

</html>